@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}



h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}



#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 800px;
    width: 100%;
    background: url('../images/darragh-e46.jpg') no-repeat center center;

   
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


@keyframes hero-zoom {
    from{
        transform: scale(0.7);
    }
    to{
        transform: scale(0.9);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(65, 131, 215, 1);

    bottom: 30px;
    right: 30px;

    position: absolute;
}
#welcome{
   text-align: center;
   padding-top: 30px;
}






footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}
.product-options{
    display:inline;
}
.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 300%;
    margin: 1%;
    padding: 5%;
    color: #1e8bc3
}
.heading{
    text-align: center;
    font-size: large;
    color: #1e8bc3


}

  
  
#ecumaster-image {
    margin-top: 50px;
    height: 800px;
    width: 100%;
    background: url('../images/ecumaster.jpg') no-repeat center center;

   
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
 
#civic-image {
    margin-top: 50px;
    height: 800px;
    width: 100%;
    background: url('../images/civic-ek-turbo.jpg') no-repeat center center;

   
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
  
}
    
#contact-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    width: 400px;
    height: 140px;px;
    padding-top: 0px;
    

    background-color: rgba(206, 210, 216, 0.8);

    bottom: 30px;
   left: 60px;

    position: absolute;
}
@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;
      
        
    }
    #contact-text {
       position: absolute;
       margin:0 auto;
       left:0;
       font-size: 100%;
       text-align:left;
          
           

    

    }
    